{% extends 'admin/base.html.twig' %}

{% block title %}Index des technos{% endblock %}

{% block body %}
    <h1 class="text-center">Index des technos</h1>

    {% include'admin/include/_search.html.twig' %}

    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Nom', 'name') }}</th>
                <th>Image</th>
                <th>{{ knp_pagination_sortable(pagination, 'Progression', 'progress') }}</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for techno in pagination %}
            <tr>
                <td>{{ techno.id }}</td>
                <td>{{ techno.name }}</td>
                <td>{{ techno.image }}</td>
                <td>{{ techno.progress }}</td>
                <td>
                    <a href="{{ path('techno_show', {'id': techno.id}) }}">Afficher</a>
                    <a href="{{ path('techno_edit', {'id': techno.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">aucune techno trouvée </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation ">
        {{ knp_pagination_render(pagination) }}
    </div>

    <a href="{{ path('techno_new') }}">Créer</a>
{% endblock %}
