{% extends 'admin/base.html.twig' %}

{% block title %}Index des projets{% endblock %}

{% block body %}
    <h1 class="text-center">Index des projets</h1>

{% include'admin/include/_search.html.twig' %}

    <table class="table table-hover">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Nom', 'name') }}</th>
{#                <th>Image</th>#}
{#                <th>Descriptif</th>#}
{#                <th>Link</th>#}
                <th>{{ knp_pagination_sortable(pagination, 'Date de création', 'date') }}</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for projet in pagination %}
            <tr>
                <td>{{ projet.id }}</td>
                <td>{{ projet.name }}</td>
                <td>{{ projet.date ? projet.date|date('Y-m-d') : '' }}</td>
                <td>{{ projet.slug }}</td>
                <td>
                    <a href="{{ path('projet_show', {'id': projet.id}) }}">Afficher</a>
                    <a href="{{ path('projet_edit', {'id': projet.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">pas de projet trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation ">
        {{ knp_pagination_render(pagination) }}
    </div>
    <a href="{{ path('projet_new') }}">Créer</a>
{% endblock %}
