{% extends 'admin/base.html.twig' %}

{% block title %}Index des projets{% endblock %}

{% block body %}
    <h1 class="text-center mb-5">Index des projets</h1>

{% include'admin/include/_search.html.twig' %}

    <table class="table table-hover mt-3">
        <thead>
            <tr class="table-dark text-center">
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Nom', 'name') }}</th>
{#                <th>Image</th>#}
{#                <th>Descriptif</th>#}
{#                <th>Link</th>#}
                <th>{{ knp_pagination_sortable(pagination, 'Date de création', 'date') }}</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for projet in pagination %}
            <tr class="text-center">
                <td>{{ projet.id }}</td>
                <td>{{ projet.name }}</td>
                <td>{{ projet.date ? projet.date|date('Y-m-d') : '' }}</td>
                <td>{{ projet.slug }}</td>
                <td>
                    <a class="btn btn-outline-primary" href="{{ path('projet_show', {'id': projet.id}) }}">
                        <i class="bi bi-eye"></i>
                        afficher</a>
                    <a class="btn btn-outline-primary" href="{{ path('projet_edit', {'id': projet.id}) }}">
                        <i class="bi bi-pencil"></i>
                        éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">pas de projet trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-outline-primary mb-5" href="{{ path('projet_new') }}">
        <i class="bi bi-plus-circle"></i>
        Créer</a>
    <div class="navigation mb-5">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
