{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Compétence{% endblock %}

{% block body %}
    <section class="container-fluid h-100 box-skills mb-4 transition-pop">
        <div class="row">
            <div class="col-12 d-flex flex-row justify-content-center mt-5 transition-fade delay5">
                <h2 class="border-bottom border-light border-2 pb-3 mb-5 text-light">MES COMPÉTENCES</h2>
            </div>

            <div class="col-12 col-md-4">
                <img class="img-fluid rounded-5 shadow" src="{{ '/competence.png' | imagine_filter('show_projet') }}"
                     alt="Un ordinateur">
            </div>

            <div class="col-12 col-md-8 d-flex flex-column justify-content-around align-items-center transition-pop delay2">
                {% for techno in technologies  %}
                    <div class="d-flex flex-row justify-content-start align-items-center w-100">

                        {% if vich_uploader_asset(techno) %}
                            <div class="bg-secondary mt-1 p-1 d-flex flex-row rounded-start bg-opacity-75">
                                <img src="{{ vich_uploader_asset(techno) | imagine_filter('miniature_tech') }}"
                                     alt="Logo de {{ techno.name }}"
                                     title="{{ techno.name }}" class="img-tech">
                            </div>
                            <div class="animation-progress-bar bg-secondary mt-1 rounded-end p-1 width-{{ techno.progress }}
                                   d-flex flex-row shadow bg-opacity-75">
                                <p class="m-0 text-dark fw-bolder fs-5 mx-auto">{{ techno.progress }}%</p>
                            </div>
                        {% else %}
                            <div class="bg-secondary mt-1 p-1 d-flex flex-row rounded-start">
                                <img src="{{ 'default1.png' | imagine_filter('miniature_tech') }}"
                                     alt="Logo de {{ techno.name }}"
                                     title="{{ techno.name }}" class="img-tech">
                            </div>
                            <div class="animation-progress-bar bg-secondary mt-1 rounded-end p-1 width-{{ techno.progress }}
                                        d-flex flex-row shadow bg-opacity-75">
                                <p class="m-0 text-dark fw-bolder fs-5 mx-auto">{{ techno.progress }}%</p>
                            </div>
                        {% endif %}

                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
{% endblock %}
