<footer class="py-2 bg-dark mt-auto container-fluid ">
    <div class="row">
        <div class="col-12 col-md-8 mt-3 my-md-0 d-flex flex-row justify-content-evenly ">
            <a href="{{ app.session.get('github') ? app.session.get('github') : '#' }}" target="_blank">
                <img src="{{ asset('build/images/github.png') }}" alt="github" class="img-footer"
                     title="github"></a>

            <a href="{{ app.session.get('linkedin') ? app.session.get('linkedin') : '#' }}" target="_blank">
                <img src="{{ asset('build/images/linkedin.png') }}" alt="linkedin" class="img-footer"
                title="linkedin"></a>

            <a href="{{ path('contact') }}"><img src="{{ asset('build/images/lettre.png') }}" alt="contact"
                                                 title="contact" class="img-footer"></a>
        </div>
        <div class="col-12 col-md-4 mt-4 my-md-0 d-flex flex-row justify-content-center align-items-center">
            <p class="text-light m-0">© Desbiens Mickaël | 2022</p>
        </div>
    </div>
</footer>