<header id="header">
    <nav class="navbar navbar-expand-lg fixed-top bg-dark bg-opacity-75 shadow">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="{{ asset('build/images/logo-initial.png') }}" alt="logo"
                                                  class="img-logo p-0"></a>
            <button class="navbar-toggler text-light bg-primary" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon bg-primary"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                 aria-labelledby="offcanvasNavbarLabel" >
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1">
                        <li class="nav-item mt-4 mt-lg-0">
                            <a class="nav-link fs-5 me-lg-5 text-primary
                                    {{ app.request.attributes.get('_route') starts with 'home' ? 'active' : '' }}"
                                    {{ app.request.attributes.get('_route')
                                        starts with 'home' ? "aria-current='page'" : '' }}
                               href="{{ path('home') }}">
                                <i class="bi bi-house-fill"></i> Accueil</a>
                        </li>
                        <li class="nav-item mt-4 mt-lg-0">
                            <a class="nav-link fs-5 me-lg-5 text-primary
                                    {{ app.request.attributes.get('_route') starts with 'profil' ? 'active' : '' }}"
                                    {{ app.request.attributes.get('_route')
                                        starts with 'profil' ? "aria-current='page'" : '' }}
                               href="{{ path('profil') }}">
                                <i class="bi bi-person-circle"></i> Profil</a>
                        </li>
                        <li class="nav-item mt-4 mt-lg-0">
                            <a class="nav-link fs-5 me-lg-5 text-primary
                                    {{ app.request.attributes.get('_route') starts with 'competence' ? 'active' : '' }}"
                                    {{ app.request.attributes.get('_route')
                                        starts with 'competence' ? "aria-current='page'" : '' }}
                               href="{{ path('competence') }}">
                                <i class="bi bi-tools"></i> Compétence</a>
                        </li>
                        <li class="nav-item mt-4 mt-lg-0">
                            <a class="nav-link fs-5 me-lg-5 text-primary
                                    {{ app.request.attributes.get('_route') starts with 'projet' ? 'active' : '' }}"
                                    {{ app.request.attributes.get('_route')
                                        starts with 'projet' ? "aria-current='page'" : '' }}
                               href="{{ path('projet_prez_index') }}">
                                <i class="bi bi-images"></i> Projets</a>
                        </li>
                        <li class="nav-item mt-4 mt-lg-0">
                            <a class="nav-link fs-5 me-lg-5 text-primary
                                    {{ app.request.attributes.get('_route') starts with 'contact' ? 'active' : '' }}"
                                    {{ app.request.attributes.get('_route')
                                    starts with 'contact' ? "aria-current='page'" : '' }}
                               href="{{ path('contact') }}">
                                <i class="bi bi-envelope-fill"></i> Contact</a>
                        </li>
                        {% if is_granted("ROLE_ADMIN") %}
                            <li class="nav-item mt-4 mt-lg-0">
                                <a class="nav-link fs-5  link-navbar text-primary"
                                   href="{{ path('admin') }}">
                                    <i class="bi bi-speedometer"></i> Admin
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>