{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Profil{% endblock %}

{% block body %}
    <section class="container profil-section h-100 pb-5">
        <div class="row">
            <div class="col-12 d-flex flex-row justify-content-center mt-5 transition-fade delay3">
                <h2 class="border-bottom border-light border-2 pb-3 mb-5 text-white">PROFIL</h2>
            </div>

            <div class="col-12 col-md-6 d-flex flex-column justify-content-around align-items-center
                        bg-dark bg-opacity-50 rounded-4 transition-fade delay1">
                <div class="box-profil mb-lg-0 mb-5">
                    <img class="img-profil " src="{{ asset('build/images/Profil.png') }}"
                         alt="Photo de {{ user.firstname }} {{ user.lastname }}">
                </div>

                <p class="profil-description text-white fs-5 p-md-5 p-3 rounded-4">
                    Passionné par la réalisation et la création de site web,
                    je me suis donc lancé dans le développement.
                    Fort de mes expériences passées, je suis une personne très investie dans le travail
                    et je prends grand plaisir à l’exercer, le travail en équipe
                    et la gestion du stress font partie de mes points forts.
                </p>
            </div>
            <div class="col-12 col-md-6 d-flex flex-column justify-content-around
                        align-items-center transition-fade delay1">
                    <a id="link-modal" data-bs-toggle="modal" href="#cv-modal" role="button" class="position-relative">
                        <div id="overlay" class="rounded-4"></div>
                        <img class="img-fluid rounded-4 cv-img" src="{{ asset('build/images/cv.jpg') }}"
                             alt="CV de {{ user.firstname }} {{ user.lastname }}">
                    </a>
                    <div class="modal fade" id="cv-modal" tabindex="-1">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content bg-dark">
                                <div class="modal-header">
                                    <h5 class="modal-title text-light">Mon cv</h5>
                                    <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"
                                            aria-label="Close">
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <img class="img-fluid" src="{{ asset('build/images/cv_lg.jpg') }}"
                                         alt="cv {{ user.firstname }} {{ user.lastname }}">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                <a class="btn btn-main mt-3 text-decoration-none fw-bold"
                   href="{{ path( 'download' ) }}" target="_blank">
                    <i class="bi bi-file-earmark-arrow-down-fill"></i> Télécharger mon CV
                </a>
            </div>
        </div>
    </section>
{% endblock %}
