{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Projet{% endblock %}

{% block body %}
    <div class="h-100 box-project pt-5">
        <div class="d-flex flex-row justify-content-center mb-5 transition-fade delay3">
            <h1 id="projet" class="border-bottom border-light border-2 pb-3 mb-5 text-white">MES PROJETS</h1>
        </div>

        <div class="container transition-fade delay1">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 d-flex flex-row justify-content-center">
                {% for projet in pagination %}
                    <div class="col card-height">
                        <div class="card shadow overflow-hidden h-100">

                            {% if vich_uploader_asset(projet) %}
                                <img src="{{ vich_uploader_asset(projet)|imagine_filter('projet') }}"
                                     alt="{{ projet.name }}" class="mw-100 h-75">
                            {% else %}
                                <img src="{{ '/elephant-php.jpg'|imagine_filter('projet') }}"
                                     alt="{{ projet.name }}" class="mw-100 h-75">
                            {% endif %}

                            <div class="card-body h-25">
                                <h5 class="text-center mt-0">{{ projet.name }}</h5>
                                <a href="{{ path('projet_prez_show', {'slug': projet.slug}) }}"
                                   class="text-decoration-none text-dark stretched-link">
                                    </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="navigation mb-5 d-flex flex-row justify-content-center pt-5">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}
