{% extends "base.html.twig" %}

{% block title %}Projet {{ projet.name }}{% endblock %}

{% block body %}
    <section class="h-100">
        <h1 class="text-center my-3">Projet {{ projet.name }}</h1>

        <div class="container text-center mb-5">
            {% if vich_uploader_asset(projet) %}
                <img src="{{ vich_uploader_asset(projet) }}" alt="{{ projet.name }}"
                     class="rounded-5 w-75">
            {% else %}
                <img src="{{ asset('build/images/elepant-php.jpg') }}" alt="{{ projet.name }}"
                     class="rounded-5 w-75">
            {% endif %}
            <p>Date de création : {{ projet.date|date("d/m/Y") }}</p>

            <section class="text-center my-5 w-75 mx-auto">
                <h2>Description</h2>
                <p class="text-center">{{ projet.descriptif|raw }}</p>
            </section>

            <div class="container">
                <div class="row row-cols-2 row-cols-lg-6">
                    {% for techno in projet.techno  %}
                        <div class="col mx-auto">
                            {% if vich_uploader_asset(techno) %}
                                <img src="{{ vich_uploader_asset(techno) }}" alt="{{ techno.name }}"
                                     class="img-techno">
                            {% else %}
                                <img src="{{ asset('build/images/default1.png') }}" alt="{{ techno.name }}"
                                     class="img-techno">
                            {% endif %}
                            <p>{{ techno.name }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <a href="{{ projet.link }}" class="btn btn-outline-primary mt-5">visité le site </a>
        </div>
    </section>
{% endblock %}