{% extends "base.html.twig" %}

{% block title %} {{ parent() }} {{ projet.name }}{% endblock %}

{% block body %}
    <div class="h-100 project-show pt-5 transition-pop">
        <h1 class="text-center text-white mb-4">{{ projet.name }}</h1>
        <a href="{{ path('projet_prez_index') }}" class="fs-1 text-decoration-none position-fixed ms-4 btn-back">
            <i class="bi bi-arrow-left-circle-fill"></i>
        </a>
        <div class="container">
            <div class="row">
                {% if vich_uploader_asset(projet) %}
                    <img src="{{ vich_uploader_asset(projet)|imagine_filter('show_projet') }}" alt="{{ projet.name }}"
                         class="rounded-5 col-12 col-lg-10 mx-auto ">
                {% else %}
                    <img src="{{ '/elephant-php.jpg'|imagine_filter('show_projet') }}" alt="{{ projet.name }}"
                         class="rounded-5 col-12 col-lg-10 mx-auto">
                {% endif %}
                <p class="col-12 col-md-10 mx-auto text-white text-center">Date de création : {{ projet.date|date("d/m/Y") }}</p>

                <div class="my-5 col-12 col-md-8 mx-auto text-white">
                    <h2 class="text-center mb-4">Description</h2>
                    <div class="fs-5 bg-dark p-md-5 p-3 rounded-4 bg-opacity-50">
                        {{ projet.descriptif|raw }}
                    </div>
                    <div class="d-flex flex-row justify-content-center">
                        {% if projet.link != "#" %}
                            <a href="{{ projet.link }}" target="_blank"
                               class="btn-main mt-3 text-decoration-none fw-bold">
                                <i class="bi bi-globe"></i> Visiter le site
                            </a>
                        {% else %}
                            <p class="fs-5 text-white">En cours de déploiment...</p>
                        {% endif %}
                    </div>
                </div>

                                {#      techno box              #}
                <div class="container pb-5 col-12 col-md-10 mx-auto">
                    <h2 class="mb-4 text-white text-center">Stack technique</h2>
                    <div class="row row-cols-3 row-cols-lg-6 gy-5">
                        {% for techno in projet.techno  %}
                            <div class="col mx-auto text-center tech-shadow">
                                {% if vich_uploader_asset(techno) %}
                                    <img src="{{ vich_uploader_asset(techno) | imagine_filter('miniature_tech') }}"
                                         alt="Logo de {{ techno.name }}"
                                         class="img-techno">
                                {% else %}
                                    <img src="{{ 'default1.png' | imagine_filter('miniature_tech') }}"
                                         alt="Logo de {{ techno.name }}"
                                         class="img-techno">
                                {% endif %}
                                <p class="text-white fw-bold">{{ techno.name }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}