{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Contact{% endblock %}

{% block body %}
    <div class="box-contact">
        <div class="d-flex flex-row justify-content-center mt-5 transition-fade delay3">
            <h2 class="border-bottom border-light border-2 pb-3 text-white">CONTACT</h2>
        </div>
        <div class="container-fluide w-100 mt-1 mt-md-2">
            <div class="row me-box d-flex flex-column align-items-center gx-0 py-5">
                <h3 class="col-12 col-md-6 fs-2 text-center text-primary
                           transition-translate-right delay2">N’HÉSITEZ PAS À ME CONTACTER</h3>

                {{ form_start(form, {
                    'attr':
                    {'id': 'contact-form','class': 'row col-12 col-md-6 d-flex flex-row justify-content-between gx-0
                                transition-translate-left delay1',
                        }}) }}

                <div class="form-box form-floating col-12 col-md-5 p-0"> {{ form_row(form.firstname) }}</div>
                <div class="form-box col-12 col-md-5 p-0"> {{ form_row(form.lastname) }}</div>

                <div class="col-12 p-0 form-box">{{ form_row(form.objet) }}</div>
                <div class="col-12 p-0 form-box">{{ form_row(form.email) }}</div>
                <div class="col-12 p-0 form-box">{{ form_row(form.message) }}</div>
                {% include 'include/_recaptcha.html.twig' %}
                <div class="col-12 p-0 mt-3">
                    <button class="btn btn-main my-2 w-100 fw-bold" id="contact-btn" disabled>
                        <i class="bi bi-send-fill"></i>
                        Envoyer
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
